Repository hyper63/hyper-host-render: changes, and which lint-staged commands are due for each by the changed paths.
All: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

.lintstagedrc.json:

{
  "*.{md,json,js,ts}": ["deno fmt"],
  "README.md": ["deno run -A npm:markdown-toc-gen@1 insert", "deno fmt"]
}

feat(app): add initial Render blueprint and hyper app
  app/Dockerfile
  app/auth.ts
  app/deps.ts
  app/mod.ts
  render.yaml
Due: deno fmt

feat(data): add CouchDB Render blueprint and couch data adapter #2
  app/deps.ts
  app/mod.ts
  data/Dockerfile
  render.yaml
Due: deno fmt

docs: add initial README
  README.md
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

fix: remove broken auth middleware
  app/auth.ts
  app/deps.ts
Due: deno fmt

feat(data): add CouchDB Render blueprint and couch data adapter #2
  README.md
  app/deps.ts
  app/mod.ts
  data/Dockerfile
  render.yaml
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

feat(cache): add Redis Render blueprint and redis cache adapter #3
  README.md
  app/deps.ts
  app/mod.ts
  cache/Dockerfile
  cache/redis.conf
  render.yaml
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

feat(search): add Elasticsearch Render blueprint and elasticsearch adapter #4
  app/deps.ts
  app/mod.ts
  render.yaml
  search/Dockerfile
  search/config/elasticsearch.yml
Due: deno fmt

feat: use mongo in lieu of couch to power data. Add auth middleware. Bump deps #2 #8
  README.md
  app/auth.ts
  app/deps.ts
  app/mod.ts
  app/utils.test.ts
  app/utils.ts
  data/Dockerfile
  deno.jsonc
  deno.lock
  render.yaml
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

feat(storage): add MinIO to Render blueprint and minio adapter #5
  README.md
  app/deps.ts
  app/mod.ts
  deno.lock
  render.yaml
  storage/Dockerfile
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

docs: update README
  README.md
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

ci: add example workflow to run hyper app tests
  .github/workflows/app.yml
Due: none

docs: add Deploy To Render button to README #9
  README.md
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

chore: bump core, app, and adapter deps
  app/deps.ts
  deno.jsonc
  deno.lock
Due: deno fmt

refactor: rename service folders to match underlying service
  .elasticsearch/Dockerfile
  .elasticsearch/config/elasticsearch.yml
  .minio/Dockerfile
  .mongodb/Dockerfile
  .redis/Dockerfile
  .redis/redis.conf
  app/utils.test.ts
  data/Dockerfile
  render.yaml
  storage/Dockerfile
Due: deno fmt

feat(queue): add BullMQ adapter #6
  app/deps.ts
  app/mod.ts
  deno.lock
Due: deno fmt

docs: update README
  .lintstagedrc.json
  README.md
Due: deno fmt, deno run -A npm:markdown-toc-gen@1 insert

chore: bump tooling deps
  .husky/pre-commit
  deno.jsonc
  deno.lock
Due: none

chore: encode uri components that are randomly generated to prevent parsing errors
  app/mod.ts
Due: deno fmt
